article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
}



/* Header
-----------------------------------------------------------------------------*/
header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 60px;
    width: 100%;
    box-sizing: border-box;

}

header .logo {
    color: #fff;
    width: 100px;
    line-height: 50px;
    font-size: 24px;
    font-weight: bold;
    float: right;
    position: absolute;
    right: 50%;
    margin-right: -50px;

}

#search-icon {
    height: 20px;
    float: right;
    line-height: 50px;
    font-size: 24px;
    margin-top: 14px;
    margin-right: 10px;
}

#shopping-kurv {
    height: 20px;
    float: right;
    line-height: 50px;
    font-size: 24px;
    margin-top: 14px;
}


header div {
    float: left;
}

header div ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header div ul li {
    list-style: none;
}

header div ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}


header section {
    float: right;
}

header section ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header section ul li {
    list-style: none;
}

header section ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}





header nav {
    float: left;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}

/*header nav ul li a:hover,
header nav ul li a.active {
    color: #fff;
    background: #D8D5D3;
}*/

.menu-toggle {
    color: #fff;
    float: left;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}


/* Middle
-----------------------------------------------------------------------------*/
main {}


#forside-billede {
    width: 100%;
}

#forside-billede-header{
    height: 50px;
    width: 100%;
}

#nyheder-div {
    position: relative;
    text-align: center;
    color: white;
}

#nyheder-billede {
    width: 100%;
    padding-top: 5%;
}

#nyheder-div-h2 {
    background-image: url(../images/mobil-forside/nyheder-baggrund.jpg);
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    width: 45%;
}

#nyheder-box {
    background-color: #DCDCDC;
    display: none;
}

#bestsellers-box {
    background-color: #C6C6C6;
    display: none;
}

#udsalg-box {
    background-color: #DCDCDC;
    display: none;
}





#inspiration-div {
    position: relative;
    text-align: center;
    color: white;
}

#inspiration-billede {
    width: 100%;
    padding-top: 5%;
}

#inspiration-div-h2 {
    background-image: url(../images/mobil-forside/inspiration-baggrund.jpg);
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    width: 45%;
}




#bestsellers-div {
    position: relative;
    text-align: center;
    color: white;
}

#bestsellers-billede {
    width: 100%;
    padding-top: 5%;
}

#bestsellers-div-h2 {
    background-image: url(../images/mobil-forside/bestsellers-baggrund.jpg);
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    width: 45%;
}



#trends-div {
    position: relative;
    text-align: center;
    color: white;
}

#trends-billede {
    width: 100%;
    padding-top: 5%;
}

#trends-div-h2 {
    background-image: url(../images/mobil-forside/trends-baggrund.jpg);
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    width: 45%;
}



#brands-div {
    position: relative;
    text-align: center;
    color: white;
}

#brands-billede {
    width: 100%;
    padding-top: 5%;
}

#brands-div-h2 {
    background-image: url(../images/mobil-forside/brands-baggrund.jpg);
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    width: 45%;
}



#udsalg-div {
    position: relative;
    text-align: center;
    color: white;
}

#udsalg-billede {
    width: 100%;
    padding-top: 5%;
}

#udsalg-div-h2 {
    background-image: url(../images/mobil-forside/udsalg-baggrund.jpg);
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    width: 45%;
}


#martin-billede {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

#annette-billede {
    width: 90%;
    display: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

#vores-erfaring-div {
    background-color: #E5E5E5;
    padding-bottom: 2%;
    padding-top: 55%;
    margin-top: -45%;
    margin-bottom: 12%;
}

#martin-h2 {
    text-align: center;
    margin-bottom: 15%;
}

#vores-erfaring-p {
    text-align: center;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
    display: none;
}


#gratis-fragt-billede {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#gratis-fragt-p {
    text-align: center;
    line-height: 24px;
    margin-left: 12%;
    margin-right: 12%;
}


#support-billede {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#support-p {
    text-align: center;
    line-height: 24px;
    margin-left: 12%;
    margin-right: 12%;

}

#kundeservice-flex-1og2 {
    display: flex;
}

#kundeservice-flex-1 {
    width: 50%;
}

#kundeservice-flex-2 {
    width: 50%;
}

#kundeservice-flex-3og4 {
    display: flex;
}

#kundeservice-flex-3 {
    width: 50%;
}

#kundeservice-flex-4 {
    width: 50%;
}


#trustpilot-billede {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#trustpilot-stjerner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

#trustpilot-p {
    text-align: center;
    line-height: 24px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 4%;
}


#fysisk-butik-billede {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fysisk-butik-p {
    text-align: center;
    line-height: 24px;
    margin-left: 12%;
    margin-right: 12%;

}


/* produkt-side
-----------------------------------------------------------------------------*/

#produkt-overskrift-h2{
    text-align: center;
    font-weight: 500;
    margin-bottom: 2%;
    font-size: 1.6em;
}
#produkt-overskrift-h3{
    text-align: center;
    font-weight: 400;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.5em;
}
#produkt-overskrift-p{
    text-align: center;
    font-size: 0.8em;
}

#produkt-billede{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#flere-billeder-flex{
    display: flex;
}
#flere-billeder-1{
    width: 30%;
    margin: 2%;
    margin-left: 4%;
}
#flere-billeder-2{
    width: 30%;
    margin: 2%;
}
#flere-billeder-3{
    width: 30%;
    margin: 2%;
    margin-right: 4%;
}


#koeb-nu-knap-pris{
    margin-left: 4%;
    font-size: 1.6em;
    font-weight: 400;
}

#koeb-nu-knap{
    background-color: #446C68;
    margin-left: 4%;
    margin-right: 4%;
}

#koeb-nu-knap-p{
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.6em;
    font-weight: 400;
}

#lagerstatus{
    margin-left: 4%;
    font-size: 0.8em;
}

#produkt-info-h3{
    margin-left: 4%;
    font-size: 1.6em;
    font-weight: 500;
}

#produkt-info-p-del-1{
    margin-left: 4%;
    margin-right: 4%;
    line-height: 1.5;
}

#produkt-info-p-del-2{
    margin-left: 4%;
    margin-right: 4%;
    line-height: 1.5;
}

#fordele-icon-flex{
    margin-left: 4%;
    margin-right: 4%;
}

.fordele-icon-flex-linje{
    display: flex;
}

.icon-fordele{
    width: 10%;
    margin-top: 4%;
    margin-bottom: 4%;

}

.p-fordele{
    width: 90%;
    margin: 4%;
}

#sofa-i-stuen-billede{
    width: 100%;
    margin-top: 4%;
}

#specifikationer-box{
    background-color: #F1F1F1;
    margin-left: 4%;
    margin-right: 4%;
}

#specifikationer-h2{
    padding-top: 6%;
    font-size: 1.6em;
    text-align: center;
    
}

.specifikationer-flex{
    display: flex;
}

#specifikationer-flex-1{
    width: 50%;
    margin-left: 8%;
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom: 2%;
}

#specifikationer-flex-2{
    font-size: 1.6em;
    width: 50%;
    font-weight: 500;
    margin-bottom: 2%;
}


.specifikationer-overskrift-1{
    width: 50%;
    margin-left: 8%;
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 2%;
    margin-top: 4%;
}

.specifikationer-overskrift-2{
    font-size: 1.6em;
    width: 50%;
    font-weight: 400;
    margin-bottom: 2%;
    margin-top: 4%;
}


.specifikationer-svar-1{
    width: 50%;
    margin-left: 8%;
    font-size: 1em;
    font-weight: 400;
    margin-top: 2%;
    margin-bottom: 0;
}

.specifikationer-svar-2{
    font-size: 1em;
    width: 50%;
    font-weight: 400;
    margin-top: 2%;
    margin-bottom: 0;
}

#spe-svar-1{
    margin-bottom: 6%;
}

#spe-svar-2{
    margin-bottom: 6%;
}


#andre-favoritter-h4{
    padding-top: 6%;
    font-size: 1.6em;
    text-align: center;
}

#andre-favoritter-sofa-1og2-flex{
    display: flex;
}

#andre-favoritter-sofa-1{
    width: 50%;
    margin-left: 8%;
}

#andre-favoritter-sofa-2{
    width: 50%;
    margin-right: 8%;
}

#andre-favoritter-sofa-3og4-flex{
    display: flex;
}

#andre-favoritter-sofa-3{
    width: 50%;
    margin-left: 8%;
    margin-bottom: 10%;
}

#andre-favoritter-sofa-4{
    width: 50%;
    margin-right: 8%;
    margin-bottom: 10%;
}


/* Mest solgte
-----------------------------------------------------------------------------*/
#nyheder-billede {
    width: 100%;
}

.overskrift-kategori {
text-align: center;
margin-left: auto;
  margin-right: auto;
    
}

/*slideshow*/

.mySlides {
    display: none
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  
  position: relative;
  margin: auto;
width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* Footer
-----------------------------------------------------------------------------*/
footer {
    height: auto;
    background: #2B2D29;
}

#back-to-top-flex {
    display: flex;
    float: right;
    width: 35%;
}

#back-to-top-flex-desktop {
    display: flex;
    width: 35%;
    display: none;
}

#back-to-top-p {
    color: white;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 6%;
}

#back-to-top-billede {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 6%;
    margin-right: 6%;
}

#p-kunderservice {
    color: white;
    font-size: 1.3em;
    margin-left: 10%;
}

#p-prisgarenti {
    color: white;
    font-size: 0.9em;
    margin-left: 10%;
}

#p-fortrydelsesret {
    color: white;
    font-size: 0.9em;
    margin-left: 10%;
}



#p-kontakt {
    color: white;
    font-size: 1.3em;
    margin-left: 5%;
}

#p-tlf {
    color: white;
    font-size: 0.9em;
    margin-left: 5%;
}

#p-mail {
    color: white;
    font-size: 0.9em;
    margin-left: 5%;
}

#p-mail-svar {
    color: white;
    font-size: 0.9em;
    margin-left: 5%;
}

#footer-flex {
    display: flex;
    width: 100%;
}

#footer-flex-1 {
    width: 50%;
}

#footer-flex-2 {
    width: 50%;
    padding-top: 10%;

}

#footer-flex-2 {
    width: 50%;
    padding-top: 10%;

}

#footer-flex-desktop {
    display: none;
}

#icon-fb {
    height: 20px;
    width: auto;
}

#icon-ig {
    height: 20px;
    width: auto;

}

#icon-yt {
    height: 17px;
    width: auto;
    margin-bottom: 2%;
}

#icon-p {
    height: 20px;
    width: auto;
}

#icon-dankort {
    height: 16px;
    width: auto;
    padding: 3%;
}

#icon-mastercard {
    height: 16px;
    width: auto;
    padding: 3%;
}

#icon-visa {
    height: 16px;
    width: auto;
    padding: 3%;
}

#icon-em {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#icon-flex-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#icon-flex-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#icon-flex-3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#copyright {
    color: white;
    margin: 5%;
    padding-bottom: 5%;
}

/*----------------------------------------------*/

@media (min-width: 1000px) {
    nav {
        display: none;
    }

    #nyheder-flexbox {
        display: flex;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 2%;
    }

    #nyheder-flexbox-1 {
        width: 60%;
    }

    #nyheder-flexbox-2 {
        width: 40%;
        margin-top: 2%;

    }

    #nyheder-billede {

        padding-top: 10%;
    }

    #nyheder-box {
        display: block;
        margin-top: 10%;
        height: 93.3%;

    }

    #nyheder-text {
        text-align: center;
        line-height: 40px;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 10%;
        padding-left: 10%;
    }





    #bestsellers-flexbox {
        display: flex;
        width: 100%;
        padding-top: 2%;
    }

    #bestsellers-flexbox-1 {
        width: 50%;
    }

    #bestsellers-flexbox-2 {
        width: 50%;

    }

    #bestsellers-billede {

        padding-top: 10%;
    }

    #bestsellers-box {
        display: block;
        margin-top: 10%;
        height: 90.3%;

    }

    #bestsellers-div-h2-part2 {
        text-align: center;
        padding-top: 10%;
    }

    #bestsellers-text {
        text-align: center;
        line-height: 40px;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 10%;
        padding-left: 10%;
    }

    #bestsellers-div-h2 {
        display: none;
    }

    #trends-og-brands-flexbox {
        display: flex;
    }

    #trends-flexbox {
        width: 50%;
    }

    #brands-flexbox {
        width: 50%;
    }



    #udsalg-flexbox {
        display: flex;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 2%;

    }

    #udsalg-flexbox-1 {
        width: 40%;
        margin-top: 1%;
    }

    #udsalg-flexbox-2 {
        width: 60%;

    }

    #udsalg-box {
        display: block;
        margin-top: 5%;
        height: 95.3%;

    }

    #udsalg-text {
        text-align: center;
        line-height: 40px;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 10%;
        padding-left: 10%;
    }

    #martin-billede {
        width: 100%;
    }

    #annette-billede {
        display: block;
        width: 100%;
    }

    #profil-flexbox {
        display: flex;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 2%;
    }

    #profil-flexbox-1 {
        width: 50%;
    }

    #profil-flexbox-2 {
        width: 50%;
    }

    #vores-erfaring-div {
        padding-bottom: 2%;
        padding-top: 20%;
        margin-top: -15%;
        margin-bottom: 8%;
    }

    #vores-erfaring-p {
        padding-bottom: 2%;
        display: block;
    }

    #martin-h2 {
        margin-bottom: 5%;
    }


    #icon-flex-bred {
        display: flex;
        margin-bottom: 4%;

    }

    #back-to-top-flex {
        display: none;
    }



    #icon-flex-bred-1 {
        width: 50%;
    }

    #icon-flex-bred-2 {
        width: 50%;
    }

    #footer-flex {

        position: relative;
        width: 100%;
    }

    #footer-flex-1 {
        width: 33%;
        text-align: center;
        margin-top: 6%;
    }

    #footer-flex-2 {
        width: 33%;
        text-align: center;
    }

    #footer-flex-bred {
        display: flex;
    }

    #footer-flex-desktop {
        display: block;
        width: 33%;
        text-align: center;
        margin-top: 6%;
    }

    #footer-flex-mobil {
        display: none;
    }

    #back-to-top-flex-desktop {
        display: flex;
        position: absolute;
        top: 8px;
        right: 16px;
        width: 13%;
    }







}

@media (max-width: 1000px) {
    header {
        padding: 0 20px; 
    }

    .menu-desktop {
        display: none;
    }


    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    .footer {
        padding: 10%;
        margin: 10%;
        text-align: center;
    }

    #search-icon {
        height: 20px;
        float: right;
        line-height: 50px;
        font-size: 24px;
        margin-top: 14px;
        margin-right: 10px;
    }

    #shopping-kurv {
        height: 20px;
        float: right;
        line-height: 50px;
        font-size: 24px;
        margin-top: 14px;

    }


}
