article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
}



/* Header
-----------------------------------------------------------------------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 60px;
    width: 100%;
    box-sizing: border-box;


}

header .logo {
    color: #fff;
    width: 100px;
    position: absolute;
    right: 50%;
    margin-right: -50px;

}

#search-icon {
    height: 20px;
    float: right;
    line-height: 50px;
    font-size: 24px;
    margin-top: 14px;
    margin-right: 10px;
}

#shopping-kurv {
    height: 20px;
    float: right;
    line-height: 50px;
    font-size: 24px;
    margin-top: 14px;
}


header div {
    float: left;
}

header div ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header div ul li {
    list-style: none;
}

header div ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}


header section {
    float: right;
}

header section ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header section ul li {
    list-style: none;
}

header section ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}





header nav {
    float: left;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}

/*header nav ul li a:hover,
header nav ul li a.active {
    color: #fff;
    background: #D8D5D3;
}*/

.menu-toggle {
    color: #fff;
    float: left;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}


/* Middle
-----------------------------------------------------------------------------*/
main {}

#forside-og-pil {
    text-align: center;
}

#se-mere-pil {
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#se-mere-pil-p {
    color: white;
}

.shake-vertical {
    -webkit-animation: shake-vertical 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    animation: shake-vertical 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}


#forside-billede {
    width: 100%;
}

#forside-billede-header {
    height: 50px;
    width: 100%;
}

#nyheder-div {
    position: relative;
    text-align: center;
    color: white;
}

#nyheder-billede {
    width: 100%;
    padding-top: 5%;
}

#nyheder-div-h2 {
    background-image: url(../images/mobil-forside/nyheder-baggrund.jpg);
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    width: 45%;
}

#nyheder-box {
    background-color: #DCDCDC;
    display: none;
}

#bestsellers-box {
    background-color: #C6C6C6;
    display: none;
}

#udsalg-box {
    background-color: #DCDCDC;
    display: none;
}





#inspiration-div {
    position: relative;
    text-align: center;
    color: white;
}

#inspiration-billede {
    width: 100%;
    padding-top: 5%;
}

#inspiration-div-h2 {
    background-image: url(../images/mobil-forside/inspiration-baggrund.jpg);
    background-size: cover;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.6em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    width: 45%;
}




#bestsellers-div {
    position: relative;
    text-align: center;
    color: white;
}

#bestsellers-billede {
    width: 100%;
    padding-top: 5%;
}

#bestsellers-div-h2 {
    background-image: url(../images/mobil-forside/bestsellers-baggrund.jpg);
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    width: 45%;
}



#trends-div {
    position: relative;
    text-align: center;
    color: white;
}

#trends-billede {
    width: 100%;
    padding-top: 5%;
}

#trends-div-h2 {
    background-image: url(../images/mobil-forside/trends-baggrund.jpg);
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    width: 45%;
}



#brands-div {
    position: relative;
    text-align: center;
    color: white;
}

#brands-billede {
    width: 100%;
    padding-top: 5%;
}

#brands-div-h2 {
    background-image: url(../images/mobil-forside/brands-baggrund.jpg);
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    width: 45%;
}



#udsalg-div {
    position: relative;
    text-align: center;
    color: white;
}

#udsalg-billede {
    width: 100%;
    padding-top: 5%;
}

#udsalg-div-h2 {
    background-image: url(../images/mobil-forside/udsalg-baggrund.jpg);
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    width: 45%;
}


#martin-billede {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

#annette-billede {
    width: 90%;
    display: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

#vores-erfaring-div {
    background-color: #E5E5E5;
    padding-bottom: 2%;
    padding-top: 55%;
    margin-top: -45%;
    margin-bottom: 12%;
}

#martin-h2 {
    text-align: center;
    margin-bottom: 15%;
    font-size: 1.5em;
    font-weight: 500;
}

.vores-erfaring-p {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
}


#gratis-fragt-billede {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#gratis-fragt-p {
    text-align: center;
    line-height: 24px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 8%;
}


#support-billede {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#support-p {
    text-align: center;
    line-height: 24px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 8%;

}

#kundeservice-flex-1og2 {
    display: flex;
}

#kundeservice-flex-1 {
    width: 50%;
}

#kundeservice-flex-2 {
    width: 50%;
}

#kundeservice-flex-3og4 {
    display: flex;
}

#kundeservice-flex-3 {
    width: 50%;
    margin-bottom: 8%;
}

#kundeservice-flex-4 {
    width: 50%;
    margin-bottom: 8%;
}


#trustpilot-billede {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

#trustpilot-stjerner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

#trustpilot-p {
    text-align: center;
    line-height: 24px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 4%;
}


#fysisk-butik-billede {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

#fysisk-butik-p {
    text-align: center;
    line-height: 24px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 8%;

}


/* produkt-side
-----------------------------------------------------------------------------*/

#produkt-overskrift-h2 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 2%;
    font-size: 1.6em;
    margin-top: 6%;
}

#produkt-overskrift-h3 {
    text-align: center;
    font-weight: 400;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.5em;
}

#produkt-overskrift-p {
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 4%;
}

#produkt-billede {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#flere-billeder-flex {
    display: flex;
}

#flere-billeder-1 {
    width: 30%;
    margin: 2%;
    margin-left: 4%;
}

#flere-billeder-2 {
    width: 30%;
    margin: 2%;
}

#flere-billeder-3 {
    width: 30%;
    margin: 2%;
    margin-right: 4%;
}


#produkt-og-pris-flex-1-desktop {
    display: none;
    margin-top: 4%;
}

#produkt-overskrift-h2-desktop {
    float: right;
    margin-right: 2%;
    font-weight: 500;
    margin-bottom: 2%;
    font-size: 1.6em;
}

#produkt-overskrift-h3-desktop {
    font-weight: 400;
    margin-bottom: 2%;
    font-size: 1.5em;
    float: left;
    margin-left: 2%;
}

#produkt-overskrift-h2-desktop-flex {
    display: flex;
}

#produkt-overskrift-h2-desktop-flex-1 {
    width: 50%;
}

#produkt-overskrift-h2-desktop-flex-2 {
    width: 50%;
}








#produkt-overskrift-p-desktop {
    text-align: center;
    font-size: 1.5em;
}

.imgBox {
    overflow: hidden;
}

.thumb {
    overflow: hidden;
    text-align: center;
}


#produkt-billede-desktop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}



#flere-billeder-flex-desktop {
    display: flex;
    margin-top: 4%;
}



#flere-billeder-desktop-pil-left {
    height: 50%;
    display: block;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 2.5%;
}

#flere-billeder-1-desktop {
    width: 15%;
    margin: 1%;
}

#flere-billeder-2-desktop {
    width: 15%;
    margin: 1%;
}

#flere-billeder-3-desktop {
    width: 15%;
    margin: 1%;
}

#flere-billeder-4-desktop {
    width: 15%;
    margin: 1%;
}

#flere-billeder-5-desktop {
    width: 15%;
    margin: 1%;
}

#flere-billeder-desktop-pil-right {
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 2.5%;
}








#koeb-nu-knap-pris {
    margin: 4%;
    font-size: 1.6em;
    font-weight: 400;
}

#koeb-nu-knap {
    background-color: #446C68;
    margin-left: 4%;
    margin-right: 4%;
    color: white;
}

#koeb-nu-knap-p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.6em;
    font-weight: 400;
}

#lagerstatus {
    font-size: 0.8em;
}

#api-flex {
    display: flex;
    margin: 4%;
}


#api-knap {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1%;
    margin-right: 5%;
    font-weight: 400;
    font-size: 0.8em;
    text-decoration: underline;
}

#api-knap:hover {
    text-decoration: none;
    cursor: pointer;
}

#api-svar {
    font-size: 0.9em;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

#produkt-info-h3 {
    margin-left: 4%;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 4%;
    margin-top: 10%;
}

#produkt-info-p-del-1 {
    margin-left: 4%;
    margin-right: 4%;
    line-height: 1.5;
    font-size: 1em;
    margin-bottom: 2%;
}

#produkt-info-p-del-2 {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    line-height: 1.5;
    font-size: 1em;
    margin-bottom: 10%;
}

#fordele-icon-flex {
    margin-left: 4%;
    margin-right: 4%;
}

.fordele-icon-flex-linje {
    display: flex;
}

.icon-fordele {
    width: 10%;
    margin-top: 4%;
    margin-bottom: 4%;

}

.p-fordele {
    width: 90%;
    margin: 4%;
    font-size: 0.9em;
}

#sofa-i-stuen-billede {
    width: 92%;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
}

#sofa-i-stuen-billede-desktop {
    display: none;
    width: 96%;
    margin-right: 4%;
}

#content-kraglund {
    background-color: #5D4333;
    margin-top: 14%;
}

#content-h4 {
    padding-top: 10%;
    font-size: 1.6em;
    text-align: center;
    color: white;
    font-weight: 500;
}

#content-p {
    color: white;
    margin: 4%;
    line-height: 1.5;
    padding-bottom: 6%;
    font-size: 1em;
}

#content-img-mobile {
    width: 100%;
    margin-bottom: -5px;
}

#content-img-desk {
    display: none;
}






#specifikationer-box {
    background-color: #F1F1F1;
    margin-left: 4%;
    margin-right: 4%;
}

#specifikationer-h2 {
    padding-top: 6%;
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 10%;
    font-weight: 500;

}

.specifikationer-flex {
    display: flex;
}

#specifikationer-flex-1 {
    width: 50%;
    margin-left: 8%;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 2%;
}

#specifikationer-flex-2 {
    font-size: 1.3em;
    width: 50%;
    font-weight: 500;
    margin-bottom: 2%;
}


.specifikationer-overskrift-1 {
    width: 50%;
    margin-left: 8%;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 2%;
    margin-top: 4%;
}

.specifikationer-overskrift-2 {
    font-size: 1em;
    width: 50%;
    font-weight: 400;
    margin-bottom: 2%;
    margin-top: 4%;
}


.specifikationer-svar-1 {
    width: 50%;
    margin-left: 8%;
    font-size: 0.8em;
    font-weight: 400;
    margin-top: 2%;
    margin-bottom: 0;
}

.specifikationer-svar-2 {
    font-size: 0.8em;
    width: 50%;
    font-weight: 400;
    margin-top: 2%;
    margin-bottom: 0;
}

#spe-svar-1 {
    margin-bottom: 6%;
}

#spe-svar-2 {
    margin-bottom: 6%;
}


#andre-favoritter-h4 {
    padding-top: 10%;
    font-size: 1.6em;
    text-align: center;
}

#andre-favoritter-sofa-1og2-flex {
    display: flex;
}

#andre-favoritter-sofa-1 {
    width: 50%;
    margin-left: 8%;
}

#andre-favoritter-sofa-2 {
    width: 50%;
    margin-right: 8%;
}

#andre-favoritter-sofa-3og4-flex {
    display: flex;
}

#andre-favoritter-sofa-3 {
    width: 50%;
    margin-left: 8%;
    margin-bottom: 10%;
}

#andre-favoritter-sofa-4 {
    width: 50%;
    margin-right: 8%;
    margin-bottom: 10%;
}

#andre-favoritter-desktop {
    display: none;
}



/* Mest solgte
-----------------------------------------------------------------------------*/
#nyheder-billede {
    width: 100%;
}

#mestsolgte-overskrift {
    text-align: center;
    font-size: 1.9em;
    margin: 3%;
}

.overskrift-kategori {
    text-align: center;
    margin: 3%;
    font-size: 1.6em;

}

.mestsolgte-links:link {

    color: white;
    background-color: transparent;
    text-decoration: none;



    color: white;
    background-color: transparent;
    text-decoration: none;

}

.mestsolgte-links:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.mestsolgte-links:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

/*slideshow*/

* {
    box-sizing: border-box
}

.mySlides1,
.mySlides2,
.mySlides3,
.mySlides4,
.mySlides5,
.mySlides6 {
    display: none;
    margin-bottom: 5%;
}

.slideshow-billeder {
    transition: .5s ease;
}

.mestsolgte-billede-flexbox:hover .slideshow-billeder {
    opacity: 0.4;
    cursor: pointer;
}


.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}


* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {

    position: relative;
    margin: auto;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Hide the images by default */



/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: black;
    font-size: 15px;
    position: absolute;
    bottom: -13x%;
    width: 100%;
    text-align: center;
    margin-bottom: 7%
}



/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-bottom: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/*.active,
.dot:hover {
    background-color: #717171;
}*/

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}




#mest-solgte-inspiration-div {
    position: relative;
    text-align: center;
    color: white;
}

#mest-solgte-inspiration-billede {
    width: 100%;
    padding-top: 5%;
}

#mest-solgte-inspiration-div-h2 {
    background-image: url(../images/mest-solgte-mobil/mest-solgte-mobil-inspiration-baggrund.jpg);
    background-size: cover;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.6em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    width: 45%;
}

.mestsolgt-billede-text {
    text-align: center;
    line-height: 40px;
    padding-top: 1%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
}

.mestsolgte-flexbox {
    display: none;
}


/*inspirations side----------------------------------------------------------*/

#mobinspi {
    display: block;
}

#deskinspi {
    display: none;
}

#inspirationsoverskrift {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 10% 5%;
    font-size: 1.7em;
    text-align: center;
}

.inspirationsbilleder {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inspiundertitel1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 1.5em;
    color: #f1f1f1;
    background-color: #446c68;
    margin-top: -5%;
}

#inspiundertitel2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 1.5em;
    color: #f1f1f1;
    background-color: #5d4333;
    margin-top: -5%;
}

#inspiundertitel3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 1.5em;
    background-color: #d8d5d3;
    margin-top: -5%;
}

.inspitekst {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 170%;
    padding: 10%;
    margin: 5%;
    margin-top: -5%;
    background-color: #2b2d29;
    color: #f1f1f1;
}

/* Footer
-----------------------------------------------------------------------------*/
footer {
    height: auto;
    background: #2B2D29;
}

#back-to-top-flex {
    display: flex;
    float: right;
    width: 35%;
}

#back-to-top-flex-desktop {
    display: flex;
    width: 35%;
    display: none;
}

#back-to-top-p {
    color: white;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 6%;
}

#back-to-top-billede {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 6%;
    margin-right: 6%;
}

#p-kunderservice {
    color: white;
    font-size: 1.3em;
    margin-left: 10%;
    margin-bottom: 6%;
}

#p-prisgarenti {
    color: white;
    font-size: 0.8em;
    margin-left: 10%;
    margin-bottom: 4%;
}

#p-fortrydelsesret {
    color: white;
    font-size: 0.8em;
    margin-left: 10%;
}



#p-kontakt {
    color: white;
    font-size: 1.3em;
    margin-left: 5%;
    margin-bottom: 3%;
}

#p-tlf {
    color: white;
    font-size: 0.8em;
    margin-left: 5%;
    margin-bottom: 2%;
    text-decoration: underline;
}

.p-tlf-a {
    text-decoration: none;
}

.p-mail-a {
    text-decoration: none;
}


#p-tlf:hover {
    text-decoration: none;
}

#p-mail:hover {
    text-decoration: none;
}

#p-mail {
    color: white;
    font-size: 0.8em;
    margin-left: 5%;
    margin-bottom: 2%;
    text-decoration: underline;
}

#p-mail-svar {
    color: white;
    font-size: 0.8em;
    margin-left: 5%;
}

#footer-flex {
    display: flex;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
}

#footer-flex-1 {
    width: 40%;
}

#footer-flex-2 {
    width: 60%;

}

#footer-flex-3 {
    width: 50%;
    padding-top: 10%;

}

#footer-flex-desktop {
    display: none;
}

#icon-fb {
    height: 20px;
    width: auto;
}

#icon-ig {
    height: 20px;
    width: auto;
}

#icon-yt {
    height: 18px;
    width: auto;

}

#icon-p {
    height: 20px;
    width: auto;
}

#icon-dankort {
    height: 20px;
    width: auto;

}

#icon-mastercard {
    height: 20px;
    width: auto;

}

#icon-visa {
    height: 20px;
    width: auto;

}

#icon-em {
    height: 30px;
    width: auto;
}

.foot-icon {
    margin-right: 8%;
    margin-bottom: 8%;
}

#icon-flex-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#icon-flex-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#icon-flex-3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#copyright {
    color: white;
    margin-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 0;
    text-align: center;
}

/*----------------------------------------------*/


@-webkit-keyframes shake-vertical {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    80% {
        -webkit-transform: translateY(6.4px);
        transform: translateY(6.4px);
    }

    90% {
        -webkit-transform: translateY(-6.4px);
        transform: translateY(-6.4px);
    }
}

@keyframes shake-vertical {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    80% {
        -webkit-transform: translateY(6.4px);
        transform: translateY(6.4px);
    }

    90% {
        -webkit-transform: translateY(-6.4px);
        transform: translateY(-6.4px);
    }
}



/*-------------------------------*/


@media (min-width: 1000px) {
    nav {
        display: none;
    }

    header .logo {
        top: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        margin-top: -90px;
        margin-left: -100px;
    }

    #logo-produkt {
        width: 100px;
        position: absolute;
        right: 50%;

        top: auto;
        left: auto;
        height: auto;
        margin: auto;
        margin-right: -50px;

    }

    #logo-produkt2 {
        width: 100px;
        position: absolute;
        right: 50%;

        top: auto;
        left: auto;
        height: auto;
        margin: auto;
        margin-right: -50px;
    }

    #nyheder-flexbox {
        display: flex;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 2%;
    }

    #nyheder-flexbox-1 {
        width: 60%;
    }

    #nyheder-flexbox-2 {
        width: 40%;
        margin-top: 2%;

    }

    #nyheder-billede {

        padding-top: 10%;
    }

    #nyheder-box {
        display: block;
        margin-top: 10%;
        height: 93.3%;

    }

    #nyheder-text {
        line-height: 40px;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 10%;
        padding-left: 10%;
    }





    #bestsellers-flexbox {
        display: flex;
        width: 100%;
        padding-top: 2%;
    }

    #bestsellers-flexbox-1 {
        width: 50%;
    }

    #bestsellers-flexbox-2 {
        width: 50%;

    }

    #bestsellers-billede {

        padding-top: 10%;
    }

    #bestsellers-box {
        display: block;
        margin-top: 10%;
        height: 90.3%;

    }

    #bestsellers-div-h2-part2 {
        text-align: center;
        padding-top: 10%;
        font-size: 2em;
        font-weight: 500;
    }

    #bestsellers-text {
        line-height: 40px;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 10%;
        padding-left: 10%;
    }

    #bestsellers-div-h2 {
        display: none;
    }

    #trends-og-brands-flexbox {
        display: flex;
    }

    #trends-flexbox {
        width: 50%;
    }

    #brands-flexbox {
        width: 50%;
    }



    #udsalg-flexbox {
        display: flex;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 2%;

    }

    #udsalg-flexbox-1 {
        width: 40%;
        margin-top: 1%;
    }

    #udsalg-flexbox-2 {
        width: 60%;

    }

    #udsalg-box {
        display: block;
        margin-top: 5%;
        height: 95.3%;

    }

    #udsalg-text {

        line-height: 40px;
        padding-top: 25%;
        padding-bottom: 25%;
        padding-right: 10%;
        padding-left: 10%;

    }

    #martin-billede {
        width: 100%;
    }

    #annette-billede {
        display: block;
        width: 100%;
    }

    #profil-flexbox {
        display: flex;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 2%;
    }

    #profil-flexbox-1 {
        width: 50%;
    }

    #profil-flexbox-2 {
        width: 50%;
    }

    #vores-erfaring-div {
        padding-bottom: 2%;
        padding-top: 20%;
        margin-top: -15%;
        margin-bottom: 8%;
    }

    #vores-erfaring-p {
        padding-bottom: 2%;
        display: block;
    }

    #vores-erfaring-flex {
        display: flex;
        margin: auto;
        padding-bottom: 5%;
    }

    .vores-erfaring-flex-text {
        width: 50%;
        margin: 0, auto;
    }

    #martin-h2 {
        margin-bottom: 5%;
        font-size: 2em;
        font-weight: 500;
    }

    #trustpilot-billede {
        margin-top: 0;
    }

    #fysisk-butik-billede {
        margin-top: 0;
    }


    #icon-flex-bred {
        display: flex;
        margin-bottom: 4%;

    }

    #back-to-top-flex {
        display: none;
    }



    #icon-flex-bred-1 {
        width: 50%;
    }

    #icon-flex-bred-2 {
        width: 50%;
    }

    #footer-flex {

        position: relative;
        width: 100%;
        padding-bottom: 5%;
    }

    #footer-flex-1 {
        width: 30%;
        text-align: center;
        margin-top: 6%;
    }

    #footer-flex-2 {
        width: 40%;
        text-align: center;
        margin-top: 6%;
    }

    #footer-flex-bred {
        display: flex;
    }

    #footer-flex-desktop {
        display: block;
        width: 30%;
        text-align: center;
        margin-top: 6%;
    }


    #footer-flex-mobil {
        display: none;
    }

    #back-to-top-flex-desktop {
        display: flex;
        position: absolute;
        top: 8px;
        right: 16px;
        width: 13%;
    }

    #p-kunderservice {
        font-size: 1.5em;
    }

    #p-prisgarenti {
        font-size: 1em;
    }

    #p-prisgarenti {
        font-size: 1em;
    }

    #p-kontakt {
        font-size: 1.5em;

    }

    #p-tlf {
        font-size: 1em;
    }

    #p-mail {
        font-size: 1em;
    }

    #p-mail-svar {
        font-size: 1em;
    }


    #icon-fb {
        height: 30px;
        width: auto;

    }

    #icon-ig {
        height: 30px;
        width: auto;

    }

    #icon-yt {
        height: 30px;
        width: auto;


    }

    #icon-p {
        height: 30px;
        width: auto;

    }

    #icon-dankort {
        height: 30px;
        width: auto;


    }

    #icon-mastercard {
        height: 30px;
        width: auto;


    }

    #icon-visa {
        height: 30px;
        width: auto;


    }

    #icon-em {
        height: 45px;
        width: auto;

    }

    .foot-icon {
        margin-right: 2.5%
    }

    /*----------------------------mest-solgte-desktop-------------------------------*/
    .slideshow-container {
        display: none;
    }

    .dot {
        display: none;
    }

    .mestsolgte-flexbox {
        display: flex;
        margin: 1%;
    }

    .mestsolgte-billede-flexbox {
        margin: 1%;
        text-align: center;
    }

    #mest-solgte-inspiration-div-h2 {
        width: 20%;
    }

    #inspiration-div-h2 {
        width: 20%;
    }

    /*----------------------------produkt-side-desktop-------------------------------*/

    #produkt-og-pris-flex {
        display: flex;
    }

    #produkt-og-pris-flex-1 {
        width: 60%;
        display: none;
    }

    #produkt-og-pris-flex-2 {
        width: 40%;
        margin-top: 4%;
    }

    #produkt-og-pris-flex-1-desktop {
        width: 60%;
        display: block;
    }

    #sofa-i-stuen-billede-desktop {
        display: block;
        margin-top: 4%;
    }

    #content-img-mobile {
        display: none;
    }

    #content-kraglund-flex {
        display: flex;
    }

    #content-kraglund-flex-1 {
        width: 50%;
    }

    #content-kraglund-flex-2 {
        width: 50%;
    }

    #content-img-desk {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 16%;
        padding-bottom: 16%;
    }

    #content-p {
        margin: 10%;
    }

    #content-img-desk {
        display: block;
    }



    #specifikationer-billede-flex {
        display: flex;
        margin-top: 6%;
    }

    #specifikationer-billede-flex-1 {
        width: 50%;
    }

    #specifikationer-billede-flex-2 {
        width: 50%;
    }

    #sofa-i-stuen-billede {
        display: none;
    }



    #andre-favoritter-sofa-1og2og3-flex {
        display: flex;
        margin-bottom: 10%;
    }

    #andre-favoritter-sofa-1-desktop {
        width: 28%;
        margin-left: 6%;
        margin-right: 1%;
    }

    #andre-favoritter-sofa-2-desktop {
        width: 28%;
        margin-right: 1%;
        margin-left: 1%;
    }


    #andre-favoritter-sofa-3-desktop {
        width: 28%;
        margin-right: 6%;
        margin-left: 1%;
    }

    #andre-favoritter-desktop {
        display: block;
    }

    #andre-favoritter-mobil {
        display: none;
    }

    #produkt-body {
        background-color: #F3F3F3;
    }


    #fordele-icon-flex {
        margin-left: 4%;
        margin-right: 4%;
    }

    .fordele-icon-flex-linje {
        display: flex;
    }

    .icon-fordele {
        width: 10%;
        margin-top: auto;
        margin-bottom: auto;
        display: block;

    }

    .p-fordele {
        width: 90%;
        margin: 2%;
    }

    #koeb-nu-knap {
        background-color: #446C68;
        border: solid 2px #446C68;
        width: 40%;
    }

    #koeb-nu-knap:hover {
        background-color: white;
        border: solid 2px #446C68;
        color: #446C68;
        transition-property: transform;
        transition: 0.3s;
        cursor: pointer;
    }


    #koeb-nu-knap-p {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1.2em;
        font-weight: 400;
    }

    #koeb-nu-knap-pris {
        margin-top: 0;
    }

    #produkt-info-h3 {
        margin-top: 4%;
        margin-bottom: 2%;
    }

    #produkt-info-p-del-2 {
        margin-bottom: 4%;
    }

    #content-kraglund {
        margin-top: 6%;
    }

    #andre-favoritter-h4 {
        padding-top: 8%;
        padding-bottom: 8%;
        font-size: 2.6em;
    }

    #content-h4 {
        padding-top: 16%;
        font-size: 2.6em;
    }














    #specifikationer-box {
        background-color: #F1F1F1;
        margin: 0;
    }

    #specifikationer-h2 {
        margin-top: 4%;
        padding-top: 0;
        font-size: 1.3em;
        text-align: left;
        margin-left: 16%;
        margin-bottom: 2%;

    }

    .specifikationer-flex {
        display: flex;
    }

    #specifikationer-flex-1 {
        width: 34%;
        margin-left: 16%;
        font-size: 1.3em;
        font-weight: 500;
        margin-bottom: 2%;
    }

    #specifikationer-flex-2 {
        width: 34%;
        margin-left: 16%;
        font-size: 1.3em;
        font-weight: 500;
        margin-bottom: 2%;
    }


    .specifikationer-overskrift-1 {
        width: 34%;
        margin-left: 16%;
        font-size: 1.3em;
        font-weight: 400;
        margin-bottom: 2%;
        margin-top: 4%;
    }

    .specifikationer-overskrift-2 {
        font-size: 1.3em;
        width: 34%;
        margin-left: 16%;
        font-weight: 400;
        margin-bottom: 2%;
        margin-top: 4%;
    }


    .specifikationer-svar-1 {
        width: 34%;
        margin-left: 16%;
        font-size: 0.9em;
        font-weight: 400;
        margin-top: 2%;
        margin-bottom: 0;
    }

    .specifikationer-svar-2 {
        font-size: 1em;
        width: 34%;
        margin-left: 16%;
        font-weight: 400;
        margin-top: 2%;
        margin-bottom: 0;
    }

    #spe-svar-1 {
        margin-bottom: 6%;
    }

    #spe-svar-2 {
        margin-bottom: 6%;
    }

    /*mest solgte baggrund-------------------------------------------------------------------*/


    /*inspiration over 1000px-------------------------------------------------------------------*/


    #mobinspi {
        display: none;
    }

    #deskinspi {
        display: block;
    }

    #inspirationsoverskrift {
        margin: 5%;
        font-size: 2em;
    }

    .deskinspirationsartikel img {
        max-width: 80%;
        margin: 5% 10%;
    }

    /*------------------------------------------------------------------------*/

}

@media (max-width: 1000px) {
    header {
        padding: 0 20px;
    }

    .menu-desktop {
        display: none;
    }


    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    .footer {
        padding: 10%;
        margin: 10%;
        text-align: center;
    }

    #search-icon {
        height: 20px;
        float: right;
        line-height: 50px;
        font-size: 24px;
        margin-top: 14px;
        margin-right: 10px;
    }

    #shopping-kurv {
        height: 20px;
        float: right;
        line-height: 50px;
        font-size: 24px;
        margin-top: 14px;

    }


}
